.App {
  text-align: center;
  color: red;
  font-family: Menlo;
}

.game-title {
  position: relative;
  left: 225px;
  top: 25px;
}

#Coordinates {
  color: white;
}

/* The area where the maze game will display. */
#Maze {
  text-align: left;
  width: 700px;
  height: 500px;
  margin: auto;
  color: black;
  background-color: darkgrey;
}

.play-button:hover {
  cursor: pointer;
}

.start-button:hover {
  cursor: pointer;
}

.restart-button:hover {
  cursor: pointer;
}

.next-maze-button:hover {
  cursor: pointer;
}

.leaderboard-button:hover {
  cursor: pointer;
}

#Countdown {
  color: black;
  background-color: white;
  /*display: inline;*/
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

/*.player-name-input {
  position: relative;
  left: 270px;
  top: 250px;
}

input[type=text] {
  padding: 12px 20px;
  background-color: black;
  color: white;
}*/

